# =========================
# Next.js / Node
# =========================
/node_modules
/.next/
/out/
/build

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Env files (IMPORTANT)
# =========================
.env*

# =========================
# Python (YOUR PART)
# =========================
venv/
__pycache__/
*.pyc

# =========================
# System files
# =========================
.DS_Store

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts